:root {
    --main-background-color: #fcfbf4;
    --main-text-color: #827b7b;
    --section-content-padding: 20rem 5rem;
    --title-font-size: 2.5rem;
    font-family: "JetBrains Mono", monospace;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--main-background-color);
}


/*** HEADER ***/

header {
    align-items: center;
    background-color: var(--main-background-color);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    top: 0;
    width: 100%;
}

.header-title-link {
    color: black;
    display: flex;
    font-size: var(--title-font-size);
    gap: 2rem;
    margin-left: 3rem;
    padding: 2rem;
    text-decoration: none;
}
.header-title-link:visited {
    color:black;
}

.header-title-surname,
.header-title-name {
    display: flex;
    gap: 0.2rem;
    text-transform: uppercase;
}

.header-title-surname .letter:nth-child(1) {
    transform: translate(-5px, -5px) rotate(-5deg);
}
.header-title-surname .letter:nth-child(2) {
    transform: translateX(-3px) rotate(5deg);
}
.header-title-surname .letter:nth-child(3) {
    transform: translate(-3px, -5px) rotate(-5deg);
}
.header-title-surname .letter:nth-child(4) {
    transform: rotate(5deg);
}
.header-title-surname .letter:nth-child(5) {
    transform: translateX(-5px) rotate(-5deg);
}
.header-title-surname .letter:nth-child(6) {
    transform: translateY(-5px) rotate(5deg);
}

.header-title-name .letter:nth-child(1) {
    transform: translate(-5px, -5px) rotate(-5deg);
}
.header-title-name .letter:nth-child(2) {
    transform: translateX(-3px) rotate(5deg);
}
.header-title-name .letter:nth-child(3) {
    transform: translate(-3px, -5px) rotate(-5deg);
}
.header-title-name .letter:nth-child(4) {
    transform: rotate(5deg);
}
.header-title-name .letter:nth-child(5) {
    transform: translateX(-5px) rotate(-5deg);
}
.header-title-name .letter:nth-child(6) {
    transform: translate(-5px, 0px) rotate(-5deg);
}
.header-title-name .letter:nth-child(7) {
    transform: translate(-5px, -5px) rotate(-5deg);
}
.header-title-name .letter:nth-child(2) {
    transform: translateX(-3px) rotate(5deg);
}
.header-title-name .letter:nth-child(8) {
    transform: translate(-3px, -5px) rotate(-5deg);
}
.header-title-name .letter:nth-child(9) {
    transform: rotate(5deg);
}
.header-title-name .letter:nth-child(10) {
    transform: translateX(-5px) rotate(-5deg);
}

#menu {
    align-items: center;
    position: fixed;
    backdrop-filter: blur(30px);
    background-color: #fcfbf4;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    box-shadow: inset black 3px 3px;
    display: flex;
    font-size: 1.2rem;
    gap: 1rem;
    justify-content: space-evenly;
    outline: 3px solid black;
    padding: 1rem;
    right: 0;
    top: 40px;
    width: 50%;
    z-index: 3;
}

#menu li {
    list-style-type: none;
}

#menu a {
    color: #827b7b;
    padding: 0.25rem;
    text-decoration: none;
    transition: 0.2s;
}

#menu a:hover {
    color: black;
    text-decoration: underline;
}

/*** CONTENU  ***/

section {
    height: 100vh;
}

/* section:nth-child(odd) {
    background-color: #e8e6df;
} */

section h2 {
    border: 5px solid black;
    border-radius: 2rem;
    color: black;
    color: tomato;
    font-size: var(--title-font-size);
    margin: auto;
    padding: 3rem;
    text-align: center;
    width: fit-content;
}

/*** HOME ***/

#home {
    margin-top: calc(var(--title-font-size) + 1rem);
}

#home h2 {
    border: none;
    color: black;
    margin-top: 15rem;
}

.home-urgent {
    color: tomato;
    text-decoration: underline;
}

/*** ABOUT ***/

#about {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10rem;
}

#about p {
    width: 20%;
}

#about img {
    border: 3px solid black;
    border-radius: 2rem;
    box-shadow: black 0 -10px;
    width: 20%;

box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
        rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
        rgba(0, 0, 0, 0.07) 0px 16px 16px;
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

/*** SKILLS ***/

#skills {
    height: auto;
}

#skills-container {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    padding: 10rem;
}

#skills-human-container,
#skills-dev-container {
    background-color: #f3f2f2;
    border: 3px solid black;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    padding-left: 3rem;
    width: 25%;
}

#skills-dev-container {
    animation: skills-dev-container-animation 5s infinite;
    box-shadow: inset #000 10px 10px;
    transform: rotate(-10deg);
}

#skills-human-container {
    animation: skills-human-container-animation 5s infinite;
    box-shadow: inset #000 -10px 10px;
    transform: rotate(5deg);
}

#skills-dev-container h3,
#skills-human-container h3 {
    padding: 1rem;
    text-align: center;
}

#skills-dev-container li,
#skills-human-container li {
    padding: 0.5rem;
}

/*** PROJECTS ***/

.projects-container {
    font-size: 1.3rem;
    padding: 15rem;
    text-align: center;
}

/*** RESUME ***/

#resume {
    height: auto;
}

#resume figure {
    margin: 10rem auto;
    width: 50%;
}

#resume figure img {
    border: 3px solid #827b7b;
    border-radius: 2rem;
    width: 100%;
}

#resume figure figcaption {
    padding: 0.5rem;
    text-align: center;
}

#resume figure figcaption a  {
    text-decoration: none;
}

/*** CONTACT ***/

#contact {
    height: auto;
}

#contact-container {
	padding: 10rem;
	display: flex;
	justify-content: space-evenly;
}

.contact-link {
	align-items: center;
	display: flex;
	flex-direction: column;
	font-size: 2rem;
	gap: 1rem;
	gap: 3rem;
	height: fit-content;
	height: 5rem;
	justify-content: center;
	padding: 1rem;
	position: relative;
	text-align: center;
	text-decoration: none;
	width: fit-content;
}

.contact-link a {
	font-size: 1.5rem;
}


.contact-link p {
	font-family: "JetBrains Mono", monospace;
	opacity: 0;
	position: absolute;
	text-transform: uppercase;
	top: 3rem;
	transition: 0.25s ease-in;
	z-index: -1;
}
.contact-link:hover i {
	animation: contact-icons-animation .25s 1 ease-in-out;
}
.contact-link:hover p {
	display: inline-block;
	opacity: 1;
	transform: translateY(4rem);
}
.linkedin-link,
.fa-linkedin-in {
	color: #0077b5;
}
.mail-link,
.fa-envelope {
	color: #bb001b;
}
.github-link,
.fa-github {
	color: #000000;
}
.linkedin-link p {
	left: -30px;
}
.mail-link p {
	left: 10px;
}
.github-link p {
	left: -10px;
}
/*** FOOTER ***/

footer {
	border-top: 1px solid lightgray;
    text-align: center;
}

@keyframes contact-icons-animation {
	10% { transform: rotate(1deg); }
	20% { transform: rotate(2deg); }
	30% { transform: rotate(3deg); }
	40% { transform: rotate(4deg); }
	50% { transform: rotate(5deg); }
	60% { transform: rotate(-1deg); }
	70% { transform: rotate(-2deg); }
	80% { transform: rotate(-3deg); }
	90% { transform: rotate(-4deg); }
	100% { transform: rotate(-5deg); }
}
