* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	background-color: white;
	height: 100vh;
	overflow-y: scroll;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
}

body {
	box-shadow: 10px 10px 100px #CCC, -10px -10px 100px #CCC;
	font-family: "JetBrains Mono", monospace;
	margin: auto;
	width: 60%;
}


/*** TITLE ***/

h1 {
	font-size: 3rem;
	height: 15vh;
	margin: auto;
	padding: 3rem;
	scroll-snap-align: start;
	text-align: center;
}

menu {
	align-items: center;
	display: flex;
	height: 15vh;
	justify-content: space-evenly;
}

menu li {
	list-style-type: none;
}

menu a {
	color: black;
	text-decoration: underline;
	transition: 0.2s;
}

menu a:hover {
	color: black;
	font-size: 1.1rem;
}

/*** CONTENU  ***/

section {
	height: 100vh;
	padding: 6rem;
	scroll-snap-align: start;
}

section h2 {
	margin: auto;
	padding: 3rem;
	text-align: center;
}

/*** HOME ***/

#home {
	align-items: center;
	display: flex;
	height: 70vh;
	justify-content: center;
}

.important {
	color: tomato;
}

/*** PROFILE ***/

#profile-container {
	align-items: center;
	display: grid;
	gap: 0 3rem;
	grid-template-areas:
        "img text1"
        "img text2";
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr 1fr;
	height: 50%;
	justify-items: center;
	margin-top: 5rem;
	width: 100%;
}

.profile-img {
	border: 3px solid black;
	border-radius: 10%;
	grid-area: img;
	transform: rotate(-2deg);
	width: 80%;
}

.profile-text1 {
	grid-area: text1;
}

.profile-text2 {
	grid-area: text2;
}


/*** SKILLS ***/

#skills-dev,
skills-human {
	padding: 3rem;
}

#skills-dev h3 {
	margin-bottom: 1rem;
	padding: 1rem;
	text-align: center;
}

#skills-dev-icons {
	align-items: center;
	display: grid;
	gap: 2rem 0;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	justify-items: center;
	list-style-type: none;
	margin: auto;
	width: 70%;
}

.skills-dev-icon {
	height: 3rem;
	width: 3rem;
}

#skills-human {
	margin-top: 3rem;
}

#skills-human h3 {
	margin-bottom: 1rem;
	text-align: center;
}

#skills-human-list {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: .5rem;
	justify-content: center;
	text-align: left;
}

#skills-human-list li {
	width: 30%;
}

/*** PROJECTS ***/

#projects {
	display: flex;
	flex-direction: column;
}

#projects h2 {
	height: 30%;
	width: 100%;
}

#projects-container {
	align-items:center;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content:center;
}



/*** RESUME ***/

#resume {
	align-items: center;
	border-color: red;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#resume h2 {
	height: 30%;
	width: 100%;
}

#resume a {
	height: 100%;
	text-align: center;
	width: 100%;
}

#resume a img {
	border: 3px solid #827b7b;
	border-radius: 2rem;
	height: 100%;
}

/*** CONTACT ***/

#contact-container {
	display: flex;
	justify-content: space-evenly;
	padding: 10rem;
}

.contact-link {
	align-items: center;
	display: flex;
	flex-direction: column;
	font-size: 2rem;
	gap: 1rem;
	gap: 3rem;
	height: fit-content;
	height: 5rem;
	justify-content: center;
	padding: 1rem;
	position: relative;
	text-align: center;
	text-decoration: none;
	width: fit-content;
}

.contact-link a {
	font-size: 1.5rem;
}


.contact-link p {
	font-family: "JetBrains Mono", monospace;
	opacity: 0;
	position: absolute;
	text-transform: uppercase;
	top: 3rem;
	transition: 0.25s ease-in;
	z-index: -1;
}

.contact-link:hover i {
	animation: contact-icons-animation .25s 1 ease-in-out;
}

.contact-link:hover p {
	display: inline-block;
	opacity: 1;
	transform: translateY(4rem);
}

.linkedin-link,
.fa-linkedin-in {
	color: #0077b5;
}

.mail-link,
.fa-envelope {
	color: #bb001b;
}

.github-link,
.fa-github {
	color: #000000;
}

.linkedin-link p {
	left: -30px;
}

.mail-link p {
	left: 10px;
}

.github-link p {
	left: -10px;
}

/*** FOOTER ***/

footer {
	border-top: 1px solid lightgray;
	text-align: center;
}

footer a {
	color: blue;
	text-decoration: none;
}
@keyframes contact-icons-animation {
	10% {
		transform: rotate(1deg);
	}
	20% {
		transform: rotate(2deg);
	}
	30% {
		transform: rotate(3deg);
	}
	40% {
		transform: rotate(4deg);
	}
	50% {
		transform: rotate(5deg);
	}
	60% {
		transform: rotate(-1deg);
	}
	70% {
		transform: rotate(-2deg);
	}
	80% {
		transform: rotate(-3deg);
	}
	90% {
		transform: rotate(-4deg);
	}
	100% {
		transform: rotate(-5deg);
	}
}

@media only screen and (max-width: 1440px) {
	body {
		width: 70%;
	}
	#profile-container {
		align-items: center;
		display: grid;
		gap: 0 5rem;
		grid-template-areas:
        "img text1"
        "img text2";
		grid-template-columns: 1fr 2fr;
		grid-template-rows: 1fr 1fr;
		height: 50%;
		justify-items: center;
		margin-top: 5rem;
		width: 100%;
	}
	.profile-img {
		border: 3px solid red;
	}
}

@media only screen and (max-width: 1200px) {
	body {
		width: 80%;
	}
}

@media only screen and (max-width: 920px) {
	body {
		width: 95%;
	}
}

@media only screen and (max-width: 640px) {
	body {
		width: 100%;
	}
	h1 {
		height: 25vh;
	}
	menu {
		display: flex;
		flex-direction: column;
		gap: .5rem;
		height: 15vh;
	}
	section {
		min-height: 100vh;
		padding: 3rem;
	}
	#home {
		min-height: fit-content;
		height: 60vh;
		padding: 6rem 0rem;
	}
	#profile {
		padding: 3rem;
		height:fit-content;
	}
	#profile h2 {
		width: 100%;
		padding: 1rem 3rem;
	}
	#profile-container {
		margin-top: 2rem;
		display: flex;
		flex-direction:column;
		gap: 2rem;
	}
	.profile-img {
		width: 50%;
		border-radius: 2rem;
		transform: none;
	}
	#profile-container p {
		text-align: justify;
	}
	#skills-dev-icons {
		width:auto;
	}
	#resume a img {
		width: 100%;
		height:auto;
	}
}
